<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"> Application - Computer Database </a>

        <div class="pull-left col-xs-5">
            <a class="flag-icon flag-icon-fr" ng-click="$ctrl.changeLanguage({lang: 'fr'})"></a>
            <a class="flag-icon flag-icon-gb" ng-click="$ctrl.changeLanguage({lang: 'en'})"></a>
            <a class="flag-icon flag-icon-it" ng-click="$ctrl.changeLanguage({lang: 'it'})"></a>
        </div>
    </div>
</header>